<div class="row" >
    <h2 class="header red-text text-lighten-1" color="primary">
    Change Password
    </h2>


<div class="row">
  <form class="col s12" [formGroup]="passwordForm" #f="ngForm" (ngSubmit)="changepassword()">

            <div class="input-field col s12">
              <label for="old-password">Old Password</label>
              <input type="password" class="form-control"  minlength='6' formControlName="oldpassword">
              <div class='form-text error' *ngIf="passwordForm.controls.oldpassword.touched">
                <div *ngIf="passwordForm.controls.oldpassword.hasError('required')">Old Password is required.</div>
                <div *ngIf="passwordForm.controls.oldpassword.hasError('minlength')">Password isn't long enough.</div>
              </div>
            </div>

            <div class="input-field col s12">
              <label for="new-password">New Password</label>
              <input type="password" class="form-control"  formControlName="newpassword">
              <div class='form-text error' *ngIf="passwordForm.controls.newpassword.touched">
                <div *ngIf="passwordForm.controls.newpasswordagain.hasError('required')">New Password is required.</div>
                <div *ngIf="passwordForm.controls.newpasswordagain.hasError('minlength')">Password isn't long enough.</div>
              </div>
              </div>
            </div>


            <div class="input-field col s12">
              <label for="newpassword-again">New Password Again</label>
              <input type="password" class="form-control"  minlength='6' formControlName="newpasswordagain">
              <div class='form-text error' *ngIf="passwordForm.controls.newpasswordagain.touched">
                  <div *ngIf="passwordForm.hasError('mismatchedPassword')">Passwords do not match.</div>
            </div>
</div>

<div class="row">
  <div class="col s12">
    <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!passwordForm.valid">change password
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>
