<header class="user-header" *ngIf="!!user">
  <div class="container-fluid">
    <nav class="navbar navbar-toggleable-md">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i>
        </span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt=""/></a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/dashboard']">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tours/list']">Tours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bookings/list']">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="user-drop">
            <span class="navbar-text">
              <ul class="pull-right">
                <li>
                  <a href="javascript:void(0)" class="">
                    <img src="images/bell.png" alt=""/>
                    <span class="red-dot"></span>
                  </a>
                </li>
                <li>
                  <span class="user-img"><img src="images/user.png" alt=""/></span>
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      John Doe
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item" type="button" [routerLink]="['/changepassword']">Change Password</button>
                      <button class="dropdown-item" type="button" href="javascript:void(0);" (click)="logout()">Logout</button>
                    </div>
                  </div>
                </li>
              </ul>
            </span>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
