<header *ngIf="!!user">
<section class="row head-brk navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">Atorvia</a>
        <ul class="right hide-on-med-and-down">
          <li role="nav-item">
            <a class="nav-link" [hidden]="!user" (click)="logout()">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['faqs']">FAQs</a>
          </li>
          <li *ngFor="let page of pages" class="nav-item">
            <a class="nav-link" [routerLink]="['page/view', page.slug]" >{{page.title}}</a>
          </li>
        </ul>
      </a>
    </div>
  </nav>
</section>
</header>
