.supplier-signup .side-images {
	@include cover-background('/images/supplier-signup.png', 100%, 100%);
}

.feature-listing {
	height: auto;
	margin-top: 30px;
	li {
		@extend .relative;
		width: 50%;
		@extend .pull-left;
		margin-bottom: 35px;
		color: $white;
		font-size: $font-18;
		font-weight: weight_500;
		padding-left: 55px;
		&:before {
			@extend .absolute;
			background: $white;
			height: 38px;
			width: 38px;
			border-radius: $full;
			@extend .left-0;
			content: '';
			top: -7px;
    }
  }
}
