.has-error {
  font-size: 14px;
  color: #D8000C
}
.content-page-heading {
  text-align: left;
  margin: 15px 0 0 15px;
}
.content-page-content {
  text-align: center;
  margin: 15px 0 0 15px;
}
canvas {
    background-color: #ffffff;
}
.bottom-btn .green-btn {
  width: 200px !important;
}
.profile-btn {
  width: 200px !important;
}

.switch-btn {
  margin-bottom: 10px;
}
.price-table, .status-table {
  display: block !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
