@charset "utf-8";
/* CSS Document */
@media(max-width:1170px){
	.login-form, .side-images .center-content {padding: 0 50px;}
	}

@media(max-width:980px){
	.forget-pass .green-btn{width:100%}
	}
@media(max-width:768px){
	.table-wrapper {height:500px}
	.login-form, .side-images .center-content{padding: 0 25px}
	.side-images p{display:none}
	.side-images .table-wrapper{height:250px}
	.title-line:after{display:none}
	.title-line {text-align:center;font-weight:900}
		}
@media(max-width:360px){
	.login-form, .side-images .center-content {padding: 0 15px;}
	.switch{float:none;margin:5px 0 0;display:block}
	.forget-pass .green-btn{margin-top:10px}
}