@charset "utf-8";
/* CSS Document */

.st-pusher{right:0}
.st-effect-13.st-menu-open .st-pusher{transform: translate3d(-300px, 0px, 0px);}

/*login*/
.login-wrap{}
.table-wrapper {display: table;width: 100%;}
.side-images{background:url(/images/login-bg.png) 0 0 no-repeat;background-size:cover;background-position:100% 50%}

.center-content {display: table-cell;height: 100%;vertical-align: middle;width: 100%;}
.side-images .center-content{padding:0 100px}
.side-images h3{color:#fff;position:relative;font-size:36px}
.side-images p{margin-top:25px;font-size:18px;color:#fff}
.side-images h3:after{background:#fff;position:absolute;bottom:-45px;content:'';height:2px;width:150px;left:0;margin-bottom:30px}
.login-form{padding:0 100px}
.facebook-login{display:block;font-size:16px;background-color:#3b5998;padding:20px 0;width:100%;border:none;border-radius:4px;color:#fff}
.facebook-login span{margin-right:5px}
.login-form label{color:#5a6b81;font-size:14px}
.login-form .form-control{border-color:#e0e2e6}
.input-wrap {position: relative;}
.input-wrap span {height: 20px;position: absolute;right:10px;top: 5px;width: 30px;text-align:center}
.input-wrap span i{font-size:18px;color:#e0e2e6}
.form-control::-moz-placeholder {color: #c4d1da;font-size:16px}
.form-control:-ms-input-placeholder { color: #c4d1da;font-size:16px}
.form-control:-moz-placeholder { color: #c4d1da;font-size:16px}
.form-control::-webkit-input-placeholder { color: #c4d1da;font-size:16px}

.login-form .form-control:focus {border-color:#16a085}
.login-form .form-control:focus .input-wrap span i{color:#16a085}
.login-form .checkbox{color:#5a6b81;font-size:16px}
.forget-pass a{color:#05ad97}
.green-btn{padding:15px 0;background:#16a085;color:#fff;font-size:16px;border-radius:4px;border:none;width:200px}
.forget-pass .green-btn{float:right}
.switch {position: relative;display: inline-block;width:55px;height: 30px;float:right;border-radius:4px}
.switch input {display:none;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;border-radius:4px}
.slider:before {position: absolute;content: "";height: 20px;width: 20px;left: 4px;bottom: 5px;background-color: white;-webkit-transition: .4s;transition: .4s;border-radius:5px;}
input:checked + .slider {background-color: #16a085;}
input:focus + .slider {box-shadow: 0 0 1px #16a085;}
input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}
.slider span{position:absolute;top:6px;color:#fff;text-transform:uppercase;font-size:12px;font-weight:900}
.slider span.on{left:6px;display:none}
.slider span.off{right:6px;}
input:checked + .slider >  span.on{display:block}
input:checked + .slider >  span.off{display:none}
/*sign-up*/
.signup-wrap .side-images{background:url(/images/sign-up.png) 0 0 no-repeat;background-size:cover}
.signup-option{font-size:16px;color:#5a6b81}
.signup-option a{color:#05ad97}
.full-btn{width:100%}
/*forgot-password*/
.forgot-pass .side-images{background:url(/images/forget-bg.png) 0 0 no-repeat;background-size:cover}
.forgot-pass p{color#5a6b81;font-size:16px}
.forgot-pass h4{color:#05ad97;font-size:30px;font-weigh:700}
.forgot-pass .green-btn{width:100%}
