<main>
  <div class="login-wrap signup-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 side-images">
          <div class="table-wrapper">
            <div class="center-content">
              <h3 class="title-line">ATORVIA</h3>
              <p>Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 sign-step1">
          <div class="table-wrapper side-form">
            <div class="center-content login-form">
              <form>
                <div class="white-bg">
                  <h3>Welcome onboard,</h3>
                  <h3>[Company name]</h3>
                  <p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit.</p>
                </div>
                <div class="grey-bg">
                  <ul>
                    <li class="completed">
                      <span><i class="fa fa-check" aria-hidden="true"></i></span>
                      <p>Agent Certificate</p>
                    </li>
                    <li class="active">
                      <span>2</span>
                      <p>ID Verification</p>
                    </li>
                  </ul>
                  <div class="form-group">
                    <label for="CANCELLATION">Manager/Owner Name</label>
                    <div class="input-wrap">
                      <div class="input-group">
                        <input class="form-control" id="CANCELLATION" placeholder="Manager/Owner name<" type="text">

                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="CANCELLATION">ID Verification<span class="pull_right">Accepts PDF Format only. Max. 5MB.</span></label>
                    <div class="input-wrap">
                      <div class="input-group">
                        <input class="form-control" id="CANCELLATION" placeholder="Attach identification that match the name above" type="file">
                        <span class="pull_left">Attach identification that match the name above</span>
                        <div class="input-group-btn">
                          <button type="button" class="btn green-btn">Upload</button>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn green-btn full-btn">Finish</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
