<header-main></header-main>

<div class="user-head">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-xl-10">
        <div class="row sort-bar">
          <div class="col-md-2">
            <h4>Bookings</h4>
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-8">
                    <div class="form-group">
                      <span><i class="fa fa-search" aria-hidden="true"></i></span>
                      <input type="search" class="form-control" #searchtext placeholder="Search Booking ID, tour name or customer name..." (keyup)="search(searchtext.value)" (keydown)="clearsearch()" [(ngModel)]="searchString" />

                    </div>
                  </div>
                  <div class="col-4">

                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span><img src="images/sort.png" alt=""/></span>
                        <span *ngIf="!sortBy">Sort</span>
                        <span *ngIf="!!sortBy" [innerHTML]="sortBy"></span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" (click)="sortBy='Booking Date'; changeOrderBy(sortBy);">Booking Date</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Tour'; changeOrderBy(sortBy);">Tour</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Departure Date'; changeOrderBy(sortBy);">Departure Date</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Contact Person'; changeOrderBy(sortBy);">Contact Person</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Travellers'; changeOrderBy(sortBy);">Travellers</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="grey-bg">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-xl-10">
        <ul class="tabs">
          <li rel="tab1" (click)="activeTab='first'; changeStatus(false)" [ngClass]="{'active': !activeTab || activeTab=='first'}" class="active">New Bookings <span>1</span></li>
          <li rel="tab2" (click)="activeTab='second'; changeStatus(true)" [ngClass]="{'active': activeTab=='second'}">Pending</li>
          <li rel="tab2" (click)="activeTab='third'; showCompleted()" [ngClass]="{'active': activeTab=='third'}" class="tab_last">Completed</li>
        </ul>
        <div class="right-wrap">
          <div class="tab_container" id="tabContent1">
            <!--tab-1-->
            <div id="tab1" class="tab_content" style="display: block">
              <div class="table-wrapper">
                <table class="table">
                  <thead>
                    <tr>
                      <th data-field="title">Booking Date</th>
                      <th data-field="heading">Tour</th>
                      <th data-field="summary">Departure Date</th>
                      <th data-field="summary">Contact Person</th>
                      <th data-field="summary">Travellers</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr  class=""
                    *ngFor="let page of pageArr"
                    [attr.data-page-id]="page._id"
                    [ngClass]="{'red accent-1': page.deleted, 'red lighten-4': page.active === false}"
                    [hidden]="page.deleted">
                    <td class="date-time">{{page.bookingDate | date}}</td>
                    <td class="tour-name"><a href="javascript:void(0)">{{page.tour.title}}</a></td>
                    <td class="departure-date">{{page.departureDate | date}}</td>
                    <td class="contact-person">
                      <span class="user-img">
                        <img src="/images/user.png" />
                      </span>
                      <span class="name">{{page.contactDetails.firstName}} {{page.contactDetails.lastName}}</span>
                    </td>
                    <td class="travellers">{{page.travellers?.length}}</td>
                    <td class="action-td">
                      <div class="btn-group">
                        <button type="button" class="btn btn-secondary"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Action
                        </button>
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="javascript:void(0);">Approve</a>
                          <a class="dropdown-item" href="javascript:void(0);">Deny</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="itemsSize==0">
                    <td colspan="4">
                      No records have been added yet.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--tab-1-->
        </div>
      </div>
      <div class="pagination-wrap">
        <div class="row">
          <div class="col-4">
            <button type="button" class="btn green-btn disabled"><span><i class="fa fa-angle-left" aria-hidden="true"></i></span> Previous</button>
          </div>
          <div class="col-4 text-center">
            <p>page</p>
            <h4>1/1</h4>
          </div>
          <div class="col-4 text-right">
            <button type="button" class="btn green-btn disabled">Next <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<pagination-controls *ngIf="itemsSize>0" class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>-->
  </div>
</div>
