<header-main></header-main>
<div class="user-head">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-xl-10">
        <div class="row sort-bar">
          <div class="col-md-2">
            <h4>Tours</h4>
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-7">
                    <div class="form-group">
                      <span><i class="fa fa-search" aria-hidden="true"></i></span>
                      <input type="search" class="form-control" #searchtext placeholder="Search Booking ID, tour name or suppliers..." (keyup)="search(searchtext.value)" (keydown)="clearsearch()" [(ngModel)]="searchString" />

                    </div>
                  </div>
                  <div class="col-5">

                    <div class="dropdown">
                      <div class="anchor-icons" *ngIf="false">
                        <a href="javascript:void(0)" class="top-anchor" [ngClass]="{'active': sortOrder == 1}" (click)="sortOrder=1; changeSortOrder(1);"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" class="bottom-anchor" [ngClass]="{'active': sortOrder == -1}" (click)="sortOrder=-1; changeSortOrder(-1);"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      </div>
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span *ngIf="!sortBy">Sort</span>
                        <span *ngIf="!!sortBy" [innerHTML]="sortBy"></span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" (click)="sortBy='Tour (A-Z)'; sortOrder=1; changeOrderBy(sortBy);;">Tour (A-Z)</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Tour (Z-A)'; sortOrder=-1; changeOrderBy(sortBy);;">Tour (Z-A)</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Length (ASC)'; sortOrder=1; changeOrderBy(sortBy);">Length (ASC)</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Length (DESC)'; sortOrder=-1; changeOrderBy(sortBy);">Length (DESC)</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Availability (ASC)'; sortOrder=1; changeOrderBy(sortBy);">Availability (ASC)</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Availability (DESC)'; sortOrder=-1; changeOrderBy(sortBy);">Availability (DESC)</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Price From (ASC)'; sortOrder=1; changeOrderBy(sortBy);">Price From (ASC)</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Price From (DESC)'; sortOrder=-1; changeOrderBy(sortBy);">Price From (DESC)</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn green-btn" [routerLink]='["/tours/create/step1"]'><i class="fa fa-plus" aria-hidden="true"></i>New Tour</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="grey-bg">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-xl-10">
        <ul class="tabs">
          <li rel="tab1" (click)="showPending=false; changeStatus(true)" [ngClass]="{'active': !showPending}">Approved Tours <span>2</span></li>
          <li rel="tab2" (click)="showPending=true; changeStatus(false);" [ngClass]="{'active': showPending}" class="tab_last">Pending Approval <span>2</span></li>
        </ul>
        <div class="right-wrap">
          <div class="tab_container" id="tabContent1">
            <!--tab-1-->
            <h3 class="d_active tab_drawer_heading" rel="tab1" (click)="showPending=false; changeStatus(true)">Approved Tours <span>2</span></h3>
            <div id="tab1" class="tab_content">
              <div class="table-wrapper">
                <tours-table [pageArr]="pageArr" [itemsSize]="itemsSize"></tours-table>
              </div>
            </div>
            <!--tab-1-->
            <!--tab-2-->
            <h3 class="tab_drawer_heading" rel="tab2" (click)="showPending=true; changeStatus(false);">Pending Approval<span>2</span></h3>
            <div id="tab2" class="tab_content">
              <div class="table-wrapper">
                <tours-table [pageArr]="pageArr" [itemsSize]="itemsSize" [showAction]="true"></tours-table>
              </div>
            </div>
            <!--tab-2-->
          </div>
        </div>
        <div class="pagination-wrap">
          <div class="row">
            <div class="col-4">
              <button type="button" class="btn green-btn disabled"><span><i class="fa fa-angle-left" aria-hidden="true"></i></span> Previous</button>
            </div>
            <div class="col-4 text-center">
              <p>page</p>
              <h4>1/1</h4>
            </div>
            <div class="col-4 text-right">
              <button type="button" class="btn green-btn disabled">Next <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
