<header-main></header-main>
<!-- <h2 class="header red-text text-lighten-1" color="primary">
<span>Tours</span>
</h2>

<section class="serach-bg" *ngIf="itemsSize>=0">
<section class="col s1 closeSearch" *ngIf="!!searchString">
<a class="" (click)="clearsearch(searchString='')"><i class="material-icons">clear</i></a>
</section>

<section class="search col s9">
<input id="search" type="text" #searchtext class="col s12" placeholder="Search here..." (keyup.enter)="search(searchtext.value)" [(ngModel)]="searchString" />
<label class="tooltipped" for="search" (click)="search(searchtext.value)" data-position="top" data-delay="0" data-tooltip="Click to Search"><i class="material-icons">search</i></label>
</section>
</section>


<div class="loading">
Loading...
</div>

<pagination-controls *ngIf="itemsSize>0" class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls>

<table class="bordered striped highlight responsive-table" *ngIf="itemsSize>=0">
<tbody>
<tr class=""
*ngFor="let page of pageArr"
[attr.data-page-id]="page._id"
[ngClass]="{'red accent-1': page.deleted, 'red lighten-4': page.active === false}"
[hidden]="page.deleted">
<td>{{page.name}}</td>
<td>{{page.noOfDays}} Days {{page.noOfNights}} Nights </td>
<td>{{page.dateRange.seats}}/{{page.dateRange.seats}}</td>
<td>$ {{page.startPrice}}</td>
<td><a class="btn-floating waves-effect waves-light blue tooltipped" href="javascript:void(0);" [routerLink]="['/page/update', page._id]" data-position="top" data-delay="0" data-tooltip="Edit Page"><i class="material-icons">mode_edit</i></a>
<a *ngIf="page.active == undefined || page.active === true" class="btn-floating waves-effect waves-light green lighten-2 tooltipped" href="javascript:void(0);" (click)="deactivate(page)" data-position="top" data-delay="0" data-tooltip="Deactivate"><i class="material-icons">check</i></a>
<a *ngIf="page.active === false" class="btn-floating waves-effect waves-light red lighten-2 tooltipped" href="javascript:void(0);" (click)="activate(page)" data-position="top" data-delay="0" data-tooltip="Activate"><i class="material-icons">check</i></a></li>
<a *ngIf="!page.deleted" class="btn-floating waves-effect waves-light red tooltipped" href="javascript:void(0);" (click)="deletePage(page)" data-position="top" data-delay="0" data-tooltip="Delete Page"><i class="material-icons">delete</i></a>
</td> -->
<!-- </tr>
<tr *ngIf="itemsSize==0">
<td colspan="4">
No records have been added yet.
</td>
</tr>
</tbody>
</table>

<pagination-controls *ngIf="itemsSize>0" class="pagination" (pageChange)="onPageChanged($event)"></pagination-controls> -->


<main class="supplier-dashboard summary tours">
  <div class="user-head">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-xl-10">
          <div class="row sort-bar">
            <div class="col-md-2">
              <h4>Tours</h4>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-sm-9">
                  <div class="row">
                    <div class="col-8">
                      <div class="form-group">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="search" class="form-control" #searchtext placeholder="Search Booking ID, tour name or suppliers..." (keyup.enter)="search(searchtext.value)" [(ngModel)]="searchString" />

                      </div>
                    </div>
                    <div class="col-4">

                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span><img src="images/sort.png" alt=""/></span> Sort
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item" type="button">Tour</button>
                          <button class="dropdown-item" type="button">Length</button>
                          <button class="dropdown-item" type="button">Availability</button>
                          <button class="dropdown-item" type="button">Price From</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <button type="button" class="btn green-btn"><i class="fa fa-plus" aria-hidden="true"></i>New Tour</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="grey-bg">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-xl-10">
          <ul class="tabs">
            <li rel="tab1" (click)="showPending=false; changeStatus(true)" [ngClass]="{'active': !showPending}">Approved Tours</li>
            <li rel="tab2" (click)="showPending=true; changeStatus(false);" [ngClass]="{'active': showPending}">Pending Approval</li>
          </ul>
          <div class="right-wrap">
            <div class="tab_container" id="tabContent1">
              <!--tab-1-->
              <div id="tab1" class="tab_content" style="display: block">
                <div class="table-wrapper">
                  <table class="table">
                    <thead>
                      <tr>
                        <th data-field="title">Tour</th>
                        <th data-field="heading">Length</th>
                        <th data-field="summary">Availability</th>
                        <th data-field="summary">Price From</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  class=""
                      *ngFor="let page of pageArr"
                      [attr.data-page-id]="page._id"
                      [ngClass]="{'red accent-1': page.deleted, 'red lighten-4': page.active === false}"
                      [hidden]="page.deleted">
                      <td class="tour-detail">
                        <span><img src ="images/random.png" /></span>
                        <div>
                          <h5>{{page.name}}</h5>
                          <p>{{page.departure}}, {{page.destination}}</p>
                        </div>
                      </td>
                      <td>{{page.noOfDays}} Days {{page.noOfNights}} Nights </td>
                      <td>{{page.dateRange.seats}}/{{page.dateRange.seats}}</td>
                      <td>USD {{page.startPrice}}</td>
                      <td class="action-td">
                        <div class="btn-group">
                          <button type="button" class="btn btn-secondary"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                          </button>
                          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:void(0);">Approved</a>
                            <a class="dropdown-item" href="javascript:void(0);">Denied</a>
                            <a class="dropdown-item" href="javascript:void(0);">Completed</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr *ngIf="itemsSize==0">
                    <td colspan="4">
                    No records have been added yet.
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--tab-1-->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</main>
