<header-main></header-main>

<div class="user-head">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-xl-10">
        <div class="row sort-bar">
          <div class="col-md-2">
            <h4>Tours</h4>
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-8">
                    <div class="form-group">
                      <span><i class="fa fa-search" aria-hidden="true"></i></span>
                      <input type="search" class="form-control" #searchtext placeholder="Search Booking ID, tour name or suppliers..." (keyup)="search(searchtext.value)" (keydown)="clearsearch()" [(ngModel)]="searchString" />

                    </div>
                  </div>
                  <div class="col-4">

                    <div class="dropdown">
                      <div class="anchor-icons" *ngIf="!!sortBy">
                        <a href="javascript:void(0)" class="top-anchor" [ngClass]="{'active': sortOrder == 1}" (click)="sortOrder=1; changeSortOrder(1);"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" class="bottom-anchor" [ngClass]="{'active': sortOrder == -1}" (click)="sortOrder=-1; changeSortOrder(-1);"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      </div>
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span *ngIf="!sortBy">Sort</span>
                        <span *ngIf="!!sortBy" [innerHTML]="sortBy"></span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" (click)="sortBy='Tour'; sortOrder=1; changeOrderBy(sortBy);">Tour</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Length'; sortOrder=-1; changeOrderBy(sortBy);">Length</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Availability'; sortOrder=1; changeOrderBy(sortBy);">Availability</button>
                        <button class="dropdown-item" type="button" (click)="sortBy='Price From'; sortOrder=1; changeOrderBy(sortBy);">Price From</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn green-btn"><i class="fa fa-plus" aria-hidden="true"></i>New Tour</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="grey-bg">
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col-xl-10">
        <ul class="tabs">
          <li rel="tab1" (click)="showPending=false; changeStatus(true)" [ngClass]="{'active': !showPending}">Approved Tours <span>2</span></li>
          <li rel="tab2" (click)="showPending=true; changeStatus(false);" [ngClass]="{'active': showPending}" class="tab_last">Pending Approval <span>2</span></li>
        </ul>
        <div class="right-wrap">
          <div class="tab_container" id="tabContent1">
            <!--tab-1-->
            <div id="tab1" class="tab_content" style="display: block">
              <div class="table-wrapper">
                <table class="table">
                  <thead>
                    <tr>
                      <th data-field="title">Tour</th>
                      <th data-field="heading">Length</th>
                      <th data-field="summary">Availability</th>
                      <th data-field="summary">Price From</th>
                      <th></th>
                    </tr>
                  </thead>
                    <tbody>
                      <tr  class=""
                      *ngFor="let page of pageArr"
                      [attr.data-page-id]="page._id"
                      [ngClass]="{'red accent-1': page.deleted, 'red lighten-4': page.active === false}"
                      [hidden]="page.deleted">
                      <td class="tour-detail">
                        <span><img src ="images/random.png" /></span>
                        <div>
                          <h5>{{page.name}}</h5>
                          <p>{{page.departure}}, {{page.destination}}</p>
                        </div>
                      </td>
                      <td>{{page.noOfDays}} Days {{page.noOfNights}} Nights </td>
                      <td>{{page.dateRange.seats}}/{{page.dateRange.seats}}</td>
                      <td>USD {{page.startPrice}}</td>
                    </tr>
                    <tr *ngIf="itemsSize==0">
                      <td colspan="4">
                        No records have been added yet.
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--tab-1-->
          </div>
        </div>
        <div class="pagination-wrap">
          <div class="row">
            <div class="col-4">
              <button type="button" class="btn green-btn disabled"><span><i class="fa fa-angle-left" aria-hidden="true"></i></span> Previous</button>
            </div>
            <div class="col-4 text-center">
              <p>page</p>
              <h4>1/1</h4>
            </div>
            <div class="col-4 text-right">
              <button type="button" class="btn green-btn disabled">Next <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
